.container {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.list {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

a {
  color: white;
  text-decoration: none;
}