.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #1a1a1a;
  padding: 20px 100px;
}

.text {
  opacity: 0.5;
}

.list {
  list-style: none;
  display: flex;
  gap: 50px;
}